- # Component: Tab bar
%nav.bar-tab
  %ul.tab-inner
    = tab_bar_item(:home, :active)
    = tab_bar_item(:profile)
    = tab_bar_item(:messages)
    = tab_bar_item(:hamburger)
    = tab_bar_item(:settings)
