- title(t 'name')

%p= raw(t 'home.intro_1', :link => 'https://github.com/maker/ratchet')
%p= raw(t 'home.intro_2', :link_1 => 'http://haml.info', :link_2 => 'http://sass-lang.com')

= form_tag(ratchet_path) do
  #play= submit_tag(t 'home.ratchet_btn')

= form_tag("https://github.com/hopkinschris/ratchet-rails.git") do
  = submit_tag(t 'home.github_btn')
