- # Component: Tab bar
%nav.bar-tab{ :class => ('hide' if locals[:visibility] == :hide) }
  %ul.tab-inner
    = tab_bar_item(:home, { :visibility => :show, :active => :active })
    = tab_bar_item(:profile, { :visibility => :show })
    = tab_bar_item(:messages, { :visibility => :show })
    = tab_bar_item(:hamburger, { :visibility => :show })
    = tab_bar_item(:settings, { :visibility => :show })
